.color{
    background-color: (rgb(8, 0, 55), rgb(79, 0, 96));
}

.navbar{
    background-color: (rgb(8, 0, 55), rgb(79, 0, 96));
    text-align: end;
}

.wdt{  
    width: 37%  !important;  
}  
.img  
{  
    height: 300px !important;  
}